<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>글 수정하기</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <form action="/update/<%= results[0].number %>" method="post">
    <p>
      <label for="name">이름</label>
      <input type="text" name="name" id="name" value="<%= results[0].name %>">
    </p>
    <p>
      <label for="password">비밀번호</label>
      <input type="password" name="password" id="password">
    </p>
    <p>
      <label for="title">제목</label>
      <input type="text" name="title" id="title" value="<%= results[0].title %>">
    </p>
    <p>
      <textarea name="content" id="content" cols="30" rows="10"><%= results[0].content %></textarea>
    </p>
    <p>
      <button type="submit">작성</button>
      <button type="reset">취소</button>
    </p>
  </form>
</body>

</html>