<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>글 상세 보기</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= results.number %>번째 글</h1>
  <p>작성자: <%= results.name %></p>
  <p>작성일: <%= results.date %></p>
  <p>제목: <%= results.title %></p>
  <p>내용: <%= results.content %></p>
  <p><a href="/edit/<%= results.number %>" class="edit">글 수정</a><a href="/delete/<%= results.number %>" class="delete">글 삭제</a></p>
</body>
</html>